<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htyoudao.youdao.module.system.dal.mysql.store.SysStoreExtendMapper">

    <update id="matchingField">
        <!-- 更新 sys_store_extend 表中的 code 字段 -->
            UPDATE sys_store_extend se
                JOIN sys_store_info si ON se.store_id = si.store_id
                SET se.code = si.store_name
            WHERE si.store_name != se.code;
    </update>

</mapper>
