<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htyoudao.youdao.module.promotion.dal.mysql.activityNjnzStore.ActivityNjnzStoreMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->

    <select id="selectByStoreId"
            resultType="com.htyoudao.youdao.module.promotion.dal.dataobject.activityNjnz.ActivityNjnzDO">
        select
        distinct a.*
        from
        activity_njnz a
        left join activity_njnz_store ast on
        a.id = ast.activity_id
        where
        a.is_enabled = 1 and
        (
        (start_date <![CDATA[<=]]> CURDATE()  AND end_date >= CURDATE())
        or
        (start_date is null and end_date is null)
        )
        and
        (
        (ast.store_id = #{storeId} and ast.deleted = 0)
        or
        a.activity_store = 1
        )
        and a.deleted = 0
        <!-- 活动门店（1全部门店 2部分门店）; -->
    </select>

</mapper>