<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htyoudao.youdao.module.system.dal.mysql.applet.AppletPageManagementMapper">

    <select id="selectAllStorePageIds" resultType="java.lang.Long">
        SELECT DISTINCT applet_page_id
        FROM applet_page_management
        WHERE app_scope = 1 AND store_scope = 1 AND deleted = 0
    </select>
</mapper>